<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="stylesheets/favicon.ico">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <style>
  /*
    .jumbotron {
      background-image: url('/images/PicCollage.jpg');
    }
    */
    /* offset start of panel-display from fixed navbar */
    body { padding-top: 25px; }
    .pad-bookmark { padding-top: 65px; }
  </style>

  <title>Koko wants a Home</title>

</head>

<body>

  <div class="navbas navbar-inverse navbar-fixed-top">
    <div class ="container">
      <div class="navbar-header" >
        <ul class="nav nav-pills">
          <li><a href="/">Home</a></li>
          <li><a href="/browse">Browse</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row pad-bookmark">
      <div class="col-md-12">
        <div class="page-header">
          <h2>Austin Animal Center</h2>
        </div>
        <p>
          7201 Levander Loop <br>
          Austin, TX 78702 <br>
          <a href="http://maps.google.com/?q=7201,Levander Loop,Austin,TX 78702" target="_blank">Google Map Link (new window)</a>
          <br>
          Phone Number: (512) 978-0500 <br>
          Fax Number: (512) 978-0616 <br>

          <br>
          Visit the <a href="http://www.austintexas.gov/department/animal-services" target="_blank"> Shelter's Web Page (new window)</a> <br>
          <br>
          Email us at:<a href="mailto:animal.customerservice@austintexas.gov">Customer Service</a> <br>
          <br>
          Adoption/Reclaim Hours: Everyday 11am-7pm <br>
          Animal Receiving: Mon.-Fri. 11am-7pm <br>
          Animal Receiving: Sat.-Sun. 11am-5pm <br>
       </p>
      </div>
    </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
