<!DOCTYPE html>
<html>
  <head>
    <!-- For responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- load jquery -->

    <!-- start with 1.x version , then try 2.x version of jquery     -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- load bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <style>
      /* offset start of panel-display from fixed navbar */
      body { padding-top: 65px; }

      /* for mobile devices top menu bar will be 2 rows */
      /* so have to increase the padding from the top */
      @media only screen and (max-width: 720px) {
      body { padding-top: 120px; }
      }

      /* make panels fixed height */
      .fixed-panel {
      min-height: 420px;
      max-height: 420px;
      overflow-y: scroll;
      }
    </style>

    <title>Koko wants a home</title>

  </head>

  <body>

    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">

      <div class="container">

        <div class="navbar-header">

          <form class="navbar-form navbar-left" id="main">
            <div class="row">

              <div class="col-md-6 col-xs-12">

                <div class="input-group">

                  <div class="input-group-btn">

                    <a href="/"  id="home_btn" class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-home"></span>
                    </a>

                  </div>

                  <input id="search" type="text" class="form-control" placeholder="{{search_term}}" >

                  <div class="input-group-btn">

                    <a href="#"  id="go_btn" class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <a href="#"  id="save_btn" class="btn btn-default" type="button" data-toggle="modal" data-target="#SaveModal">
                      <span class="glyphicon glyphicon-save"></span>
                    </a>

                    <a href="#"  id="delete_btn" class="btn btn-default" type="button" data-toggle="modal" data-target="#DeleteModal">
                      <span class="glyphicon glyphicon-remove-circle"></span>
                    </a>

                    <a href="#" class="btn btn-default" type="button" data-toggle="modal" data-target="#HelpModal">
                      <span class="glyphicon glyphicon-question-sign"></span>
                    </a>

                  </div><!-- input-group-btn -->

                </div><!-- input-group -->

              </div><!-- col-->

              <div class="col-md-6 col-xs-12 ">
                <div class="btn-group btn-group-justified">

                  <!-- List drop down button -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      Lists
                      <span class="glyphicon glyphicon-th-list"></span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        {% if list == 1 %}
                        <a href="#" id='mylist' check="yes" >
                          Favorites
                          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        </a>
                        {% else %}
                        <a href="#" id='mylist' check="no" >
                          Favorites
                          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                        </a>
                        {% endif %}
                      </li>
                      {% if saved_search_valid %}
                      {% for saved_search in saved_searches %}
                      <li>
                        <a href="#" id='{{saved_search}}' class="saved-search-btn" >{{saved_search}}</a>
                      </li>
                      {% endfor %}
                      {% endif %}
                    </ul>
                  </div>

                  <!-- refresh button -->
                  <a id="refresh-view" class="btn btn-default" href="#" type="button">
                    Refresh
                    <span class="glyphicon glyphicon-refresh"></span>
                  </a>

                  <!-- filter button -->
                  {% if filter == 1 %}
                  <a href="#" id="filter-pref" check="yes" class="btn btn-default ">
                    Filter
                    <span class="glyphicon glyphicon-check"></span>
                  </a>
                  {% else %}
                  <a href="#" id="filter-pref" check="no" class="btn btn-default ">
                    Filter
                    <span class="glyphicon glyphicon-unchecked"></span>
                  </a>
                  {% endif %}

                  <!-- Account mgmt button -->
                  <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                      Account
                      <span class="glyphicon glyphicon-wrench"></span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a href='/logout' >
                          Logout
                          <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                        </a>
                      </li>
                      <li>
                        <a href="#"  data-toggle="modal" data-target="#UnsubscribeModal">
                          Unsubscribe
                          <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                        </a>
                      </li>
                    </ul>
                  </div>

                </div><!-- input-group-btn -->
              </div>
            </div>

          </form><!-- navbar-form navbar-left -->

        </div><!-- navbar-header -->

      </div><!-- container -->
    </nav><!-- navigation -->

    <div class="container">

      <div class="row">
        {% set num_pets_displayed = -1 %}

        {% if result_valid %}

        {% set num_pets_displayed = 0 %}

        {% for pet in pets %}

        {% if pet.display %}
        {% set num_pets_displayed += 1 %}

        <div class="col-md-4 col-xs-12">

          <div class="panel panel-default">
            <div class="panel-heading">

              {% if pet.today %}
              <h3 class="panel-title">{{pet.id}}: {{pet.name}}
                <span class="label label-info">Added Today!</span>
              </h3>
              {% else %}
              <h3 class="panel-title">{{pet.id}}: {{pet.name}}</h3>
              {% endif %}

            </div>
            <div class="panel-body fixed-panel">
              {% set img_file = pet['images'][0]['path'] %}
              {% set img_file_name = img_file.split('/')[1] %}
              {% set img_path = '/images/thumbs/big/' + img_file_name %}
              <a value="{{pet.id}}" class="pet-image" data-toggle="modal" data-target="#DetailModal">
                <img src={{img_path}} >
              </a>
              <p>{{pet.breed}}</p>
              <p>{{pet.gender_detail}}, {{pet.size}} dog</p>
              <p>{{pet.ageyears}} years</p>
              <p>{{pet.date_string}}</p>
              <p> <a value="{{pet.id}}" class="pet-image" data-toggle="modal" data-target="#DetailModal">
                {{pet.location}}
              </a>, Kennel: {{pet.kennel}}</p>
              <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                  {% if pet.adopted %}
                  <button  type="button" class="btn btn-success btn-sm">
                    ADOPTED
                  </button>

                  {% else %}

                  {% if pet.yes %}
                  <button choose="yes" value="{{pet.id}}" type="button" class="btn btn-success btn-sm">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  </button>
                  {% else %}
                  <button choose="yes" value="{{pet.id}}" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  </button>
                  {% endif %}

                  {% if pet.no %}
                  <button choose="no" value="{{pet.id}}" type="button" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                  {% else %}
                  <button choose="no" value="{{pet.id}}" type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  </button>
                  {% endif %}

                  {% endif %}

                </div><!--btn group -->
              </div><!--btn toolbar -->

            </div><!-- panel body -->
          </div><!-- panel -->
        </div><!-- col-**-** -->

        {% endif %}
        {% endfor %}
        {% else %}
        <div class="col-md-12 col-xs-12">
          <div class="alert alert-danger" role="alert">{{ no_result_msg }}</div>
        </div>
        {% endif %}

        {% if num_pets_displayed == 0 %}
        <div class="col-md-12 col-xs-12">
          <div class="alert alert-info" role="alert">Nothing to display based on preferences</div>
        </div>
        {% endif %}

      </div><!-- row -->

    </div>

      <!-- Modal to display details -->
      <div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	     <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body detail-body"></div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <!-- Modal to acknowledge unsubscribe request -->
      <div class="modal fade" id="UnsubscribeModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Unsubscribe {{username}}</h4>
            </div>
            <div class="modal-body">
              Are you sure ? Your profile along with all saved searches & favorites will be deleted.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <button id="unsubscribe-user-modal-button" type="button" class="btn btn-default" >Yes</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Modal to acknowledge delete search -->
      <div class="modal fade" id="DeleteModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Delete current search</h4>
            </div>
            <div class="modal-body">
              <p id="delete-search-name"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <button id="delete-search-modal-button" type="button" class="btn btn-default" >Yes</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <!-- Modal to acknowledge delete search -->
      <div class="modal fade" id="HelpModal">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Quick Help</h4>
            </div>
            <div class="modal-body">
              <p>
                Click on dog's picture for additional details.
              </p>

              <p>
                <span class="glyphicon glyphicon-home"></span> : Link to homepage.
              </p>

              <p>
                <span class="glyphicon glyphicon-search"></span> : type text to search by breed, gender,
                name, size, age. See <a href="/#faq">FAQ</a> for examples.
              </p>

              <p>
                <span class="glyphicon glyphicon-save"></span> : save current search.
              </p>

              <p>
                <span class="glyphicon glyphicon-remove-sign"></span> : delete current search.
              </p>

              <p>
                <span class="glyphicon glyphicon-question-sign"></span> : display this help.
              </p>

              <p>
                Lists&nbsp;<span class="glyphicon glyphicon-th-list"></span> : Favorites and saved lists. Auto-notified
                via email when new dogs matching save criteria arrive.
              </p>

              <p>
                Refresh&nbsp;<span class="glyphicon glyphicon-refresh"></span> : Refresh display.
              </p>

              <p>
                Filter&nbsp;<span class="glyphicon glyphicon-unchecked"></span> : Toggle display of dogs already adopted
                and dogs with <span class="glyphicon glyphicon-remove"></span>
              </p>

              <p>
                Account&nbsp;<span class="glyphicon glyphicon-wrench"></span> : Log out, Unsubscribe from service.
              </p>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <!-- Modal to acknowledge save search -->
      <div class="modal fade" id="SaveModal">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Save current search</h4>
            </div>
            <div class="modal-body">
              <p id="save-search-name"></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <button id="save-search-modal-button" type="button" class="btn btn-default">Yes</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <script type="text/javascript">
        $( function() {

        var filter_pref = 1 ;
        var browse_location = "/browse" ;
        var home_location = "/" ;

        //Process search when return key is pressed
        $('#search').keypress(function (e) {
          if (e.which == 13) {
            $('#go_btn').click();
              return false;    //<---- Must add this line to stop event propagation
                }
            });

         var getFilterSetting = function() {
             //if ( $('#filter-pref').prop("check") )
             if ( $('#filter-pref').attr("check") == 'no' )
               filter_pref = 0;
           };

           var getListState = function() {
            return $('#mylist').attr('check');
          };

          $('#filter-pref').click( function() {
           if ( $(this).attr('check') == 'yes')
             $(this).attr('check','no');
           else $(this).attr('check','yes');
           refreshView();
         });

          $('#refresh-view').click( function() {
            refreshView();
          });

          $('#go_btn').click( function() {
            var search_string = $('#search').val();
            console.log(search_string);
            getFilterSetting();
            var qstring = $.param({'search':search_string,'filter':filter_pref});
            window.location =  browse_location + "/?" + qstring;
          });

          //Modal opens with data-toggle attribute in html
          //this is just to populate the save search field
          $('#save_btn').click( function() {
           $('#save-search-name').text( $('#search').attr('placeholder') );
         });

          //Need this instead of the regular click method to capture button click
          //from modal
          $(document).on("click", "#save-search-modal-button", function(event){
          //$('#save-search-modal-button').click( function() {
            $(this).addClass('btn-success') ;
            setTimeout( function() {
              $.ajax({
                url:"/savesearch/?" + getQstring() ,
                async: false,
                dataType: "json",

                success: function(json) {
                  console.log("call saveSearch: " + json.status);
                //obj.removeClass('btn-success') ;
                $('#SaveModal').modal('hide');
                refreshView();
              },
              error: function(xhr,status) {
                alert("saveSearch failed");
              }

            }); } , 100);
          });

          //Process confirm button to unsubscribe
          $(document).on("click", "#unsubscribe-user-modal-button", function(event){
            $(this).addClass('btn-danger') ;
            setTimeout( function() {
              $.ajax({
                url:"/unsubscribe",
                async: false,
                dataType: "json",

                success: function(json) {
                  console.log("call unsubscribe: " + json.status);
                  $('#UnsubscribeModal').modal('hide');
                  window.location = home_location ;
                },
                error: function(xhr,status) {
                  alert("Unsubscribe User failed");
                }

              }); } , 100 );
          });

          //Modal opens with data-toggle attribute in html
          //this is just to populate the delete search field
          $('#delete_btn').click( function() {
           $('#delete-search-name').text( $('#search').attr('placeholder') );
         });

          $(document).on("click", "#delete-search-modal-button", function(event){
            $(this).addClass('btn-danger') ;
            setTimeout( function() {
              $.ajax({
                url:"/deletesearch/?" + getQstring() ,
                async: false,
                dataType: "json",

                success: function(json) {
                  console.log("call deleteSearch: " + json.status);
                  $('#DeleteModal').modal('hide');
                  window.location = browse_location;
                },
                error: function(xhr,status) {
                  alert("deleteSearch failed");
                }

              }); } , 100 );
          });

          var getQstring = function() {
            var search_string = $('#search').attr('placeholder');
            console.log("getQstring()::search_string = " + search_string );
            getFilterSetting();
            var param_string = $.param({'search':search_string,'filter':filter_pref});
            console.log("getQstring()::param_string = " + param_string );
            return param_string ;
          };

          var refreshView = function() {
            console.log("refreshView->getListState = " + getListState() );
            if (getListState() == 'yes')
              renderListView();
            else
             window.location = browse_location + "/?" + getQstring() ;
         };

         var savePrefCall = function(pref,prefstring,obj,otherbutton) {
          $.ajax({
            url:"/savepref/?" + prefstring ,
            async: false,
            dataType: "json",

            success: function(json) {
              console.log("call savePref: " + json.status);
                //refreshView();
                if ( pref == 'yes' ) {
                  obj.toggleClass("btn-success");
                  obj.addClass("btn-default");
                  otherbutton.removeClass("btn-danger");
                }
                if ( pref == 'no'  ) {
                  obj.toggleClass("btn-danger");
                  obj.addClass("btn-default");
                  otherbutton.removeClass("btn-success");
                }
              },
              error: function(xhr,status) {
                alert("savepref failed");
              }
            });
        };


        //$('a[data-toggle="modal"]').click( function() {
          $('.pet-image').click( function() {
            var id = $(this).attr('value') ;
          //var url = "http://www.petharbor.com/pet.asp?uaid=ASTN." + id;
          var url = "/getDetailsById/?" + $.param({'id':id});
          $('.detail-body').load(url);
        });

          $('button[choose="yes"]').click( function() {
          var id = $(this).attr('value') ;
          var prefstring;

          //Favorite button already green
          if ( $(this).hasClass("btn-success") ) {
           prefstring = $.param({'pref':'yes', 'id': id,'remove':1});
          }
          else {
          var otherbutton;
          otherbutton = $('button[choose="no"][value="' + id + '"]') ;
          console.log('otherbutton ' + otherbutton.attr('choose'));

          //$('#info').text( id ) ;
          prefstring = $.param({'pref':'yes', 'id': id,'remove':0});
        }

          savePrefCall('yes',prefstring,$(this),otherbutton);
        });

          $('button[choose="no"]').click( function() {
          //$('#info').text('');
          var id = $(this).attr('value') ;
          var prefstring;

          if( $(this).hasClass('btn-danger') ) {
            prefstring = $.param({'pref':'no', 'id': id,'remove':1});
          }

          else {
          var otherbutton;
          otherbutton = $('button[choose="yes"][value="' + id + '"]') ;

          //$('#info').text( id ) ;
          var prefstring = $.param({'pref':'no', 'id': id, 'remove' : 0});
        }
          savePrefCall('no',prefstring,$(this),otherbutton);
        });

          $('.saved-search-btn').click( function() {
            var search_string = $(this).text();
            console.log("saved-search-btn " + search_string);
            if (search_string == "Any") search_string = "";
            getFilterSetting();
            var qstring = $.param({'search':search_string,'filter':filter_pref});
            window.location = browse_location + "/?" + qstring ;
          });

          var renderListView = function() {
            $.ajax({
              url:"/getMyList" ,
              async: false,
              dataType: "json",

              success: function(json) {
                getFilterSetting();
                var fav_list = json['result'][0]['yes'] ;
                if (fav_list.length == 0)
                  fav_list = "no-favorites-saved" ;
                var qstring = $.param({'list':fav_list,'filter':filter_pref});
                window.location = browse_location + "/?" + qstring ;
              },

              error: function(xhr,status) {
                alert("getMyList failed");
              }

            });
          }

          $('#mylist').click( function() {
            console.log("getListState = " + getListState() );
            renderListView();
          });

        });
   </script>

  </body>
</html>
